.container-login-principal {
    display: flex;
  height: 100vh;
  width: 100%;
  background-color: #3e35a3;
}

.container-login {
  margin: 100px auto 0 auto;
  display: block;
  background-color: white;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  padding: 20px;
}

.container-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.titulo-faena{
    font-size: 20px;
    font-weight: bold;
    color: #3e35a3;
    margin-bottom: 20px;
}

.titulo-principal-login{
    display: flex;
    align-items: center;
    
}
.titulo-principal-login img{
    width: 30px;
    height: auto;
}

.titulo-principal-login h1{
    font-size: 45px;
    font-weight: bold;
    color: #3e35a3;
}
